#cookies {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  background-color: hotpink;
  color: white;
  padding: 10px;

  button {
    margin-left: 20px;
    color: white;
    background-color: deeppink;
    border: 1px solid white;
    padding: 5px;
  }
}
